<!DOCTYPE html>
<html>
<head>
	<title>Employee List</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>Employee List</legend>
				<table border="1">
                    <thead>
                      <tr>
                        <th>EmpID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Designation</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <%allEmployeeList.forEach(function(emp){%>
                      <tr>
                        <td><%= emp.id %></td>
                        <td><%= emp.EmpName %></td>
                        <td><%= emp.EmpPhone %></td>
                        <td><%= emp.EmpGender %></td>
                        <td><%= emp.EmpAddress %></td>
                        <td><%= emp.EmpDesignation %></td>
                        <td><a href="/admin/update/<%= emp.id %>">Update</a><br><a href="/admin/delete/<%=emp.id%>">Delete</a></td>
                      </tr>
                      
                    <%  })%> 
                      <tr>
                          
                      </tr>
                    </tbody>
                    </table>
                    <a href="/logout">Logout</a>
			</fieldset>
		</form>
</body>
</html>